<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/metastore-spark-external-catalog-embedded-tests/src/main/java/fr/an/metastore/sparktest/SparkAppMain.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="HADOOP_CONF_DIR" value="D:\arn\hadoop\conf-nohdfs"/>
        <mapEntry key="HADOOP_HOME" value="D:\arn\hadoop\hadoop-3.2.1"/>
        <mapEntry key="HADOOP_OPTS" value="-Djava.library.path=D:\arn\hadoop\hadoop-3.2.1\lib\native"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.an.metastore.sparktest.SparkAppMain"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="metastore-spark-external-catalog-embedded-tests"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="metastore-spark-external-catalog-embedded-tests"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=D:\arn\hadoop\hadoop-3.2.1\lib\native"/>
</launchConfiguration>
