<H2>Street Names</H2>

<div class="container-fluid">
  <div class="row">
    <label class="col-md-1">Filter</label>
    <span class="col-md-2">{{filteredStreetNames$().length}} / {{streetNames$().length}}</span>
  </div>
  <div class="row">
    <label class="col-1">Pre</label>
    <input class="col-1" [(ngModel)]="pre" (ngModelChange)="onFilterChange()"/>

    <label class="col-1">Street Type</label>
    <input class="col-1" [(ngModel)]="streetType" (ngModelChange)="onFilterChange()"/>

    <label class="col-1">Determinant</label>
    <input class="col-1" [(ngModel)]="determinant" (ngModelChange)="onFilterChange()"/>

    <label class="col-1">Name</label>
    <input class="col-2" [(ngModel)]="streetName" (ngModelChange)="onFilterChange()"/>
  </div>
</div>

<ag-grid-angular
  class="ag-theme-quartz"
  style="height: 480px;"
  [rowData]="filteredStreetNames$()"
  [columnDefs]="colDefs"
  (gridReady)="onGridReady($event)"
/>

<button (click)="onBtExport()">Export CSV</button>
