<H2>City Streets</H2>

<div class="container-fluid">
  <div class="row">
    <label class="col-md-1">Filter</label>
    <span class="col-md-2">{{filteredStreets$().length}} / {{streets$().length}}</span>
  </div>
  <div class="row">
    <label class="col-1">City</label>
    <input class="col-2" [(ngModel)]="cityName" (ngModelChange)="onFilterChange()"/>
    <label class="col-1">ZipCode</label>
    <input class="col-1" [(ngModel)]="zipCode" (ngModelChange)="onFilterChange()"/>
  </div>
  <div class="row">
    <label class="col-1">Street</label>
    <input class="col-2" [(ngModel)]="streetName" (ngModelChange)="onFilterChange()"/>
  </div>
</div>

<ag-grid-angular
  class="ag-theme-quartz"
  style="height: 480px;"
  [rowData]="filteredStreets$()"
  [columnDefs]="colDefs"
  (gridReady)="onGridReady($event)"
/>

<button (click)="onBtExport()">Export CSV</button>


<div style="width:1000px; height: 300px;"
     leaflet
     [leafletOptions]="leafletOptions"
     [leafletLayers]="leafletLayers"
     [leafletLayersControl]="leafletLayersControl"
     (leafletMapReady)="onMapReady($event)"
     >
  <div *ngIf="leafletShowLayer" [leafletLayer]="leafletLayer">
  </div>
</div>
