body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* styles.css */

.tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.tabs li {
  margin: 0;
}

.tabs li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #f1f1f1;
  margin-right: 5px;
}

.tabs li a:hover {
  background-color: #ddd;
}

.tabs li a.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}
