<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%t] %-5p %m%n</pattern>
    </encoder>
  </appender>

<!-- 
  <logger name="org.drools" level="INFO"/>
 -->

  <root level="INFO">
    <appender-ref ref="stdout" />
  </root>

</configuration>

