<!doctype html>
<html>
<head>
    <script src="angular.js"></script>
    <script src="angular-draganddrop.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app="myapp">
  <div ng-controller="MyController as ctrl">
    <h1>Selecting Files using Input `type=file`</h1>
    
    <input type="file" multiple
    	set-model-on-change ng-model="ctrl.selectedFiles1"  
    	ng-change="ctrl.onInputFileChange($event)">
    
    <!-- using pure js event binding to angular.. 
    <input type="file" multiple
    	onchange="angular.element(this).scope().ctrl.addSelectedFiles2(this.files)">
    -->
    
    <h2>Files</h2>
    <div ng-repeat="file in ctrl.selectedFiles1">
      {{file.name}}
    </div>

  
  	<H1>Selecting Files using Drag'n Drop</H1>
  	<!-- 
	<div id="drop_zone" style='border: solid'
		myapp-dragstart="ctrl.onDragStart()"
		>Drop file here...</div>
  	 -->
  	 <!-- using angular draganddrop.js module -->
	<div id="drop_zone" style='border: solid'
 		drag-over="ctrl.onDragOver($event)" drag-over-class="drag-over"
 		drop-accept="ctrl.dropAccept($event)"
		drop="ctrl.onDrop($data, $event)" drop-effect="copy" 
		>Drop file here...</div>

    <div ng-repeat="file in ctrl.selectedFiles2">
      {{file.name}}
    </div>


	<H1>Reading selected files content</H1>
	
    <button ng-click="ctrl.onReadSelectedFiles()">Read selected files</button>
    <div ng-repeat="fc in ctrl.selectedFileWithContents">
      {{fc.name}}:
	  <textarea cols='30' rows='5'>{{fc.textContent}}</textarea>
    </div>

	<H1>Uploading selected files content</H1>
  	
    <button ng-click="ctrl.onUploadFilesDatas()">Upload Files (json)</button>
    <button ng-click="ctrl.onUploadFilesMultipartFiles()">Upload Files (MulipartFile)</button>
    <button ng-click="ctrl.onUploadFilesStream()">Upload Files (stream)</button>
    <button ng-click="ctrl.onUploadFileBytes()">Upload Files (byte[])</button>
  	
  	
  	
  </div>
</body>
</html>