
.app-bottom-panel {
	background-color: blue;
	
    position: fixed;
    left: 0px;
    right: 100%;
    bottom: 0px;
    min-width: 100%;

    display: block;
    z-index: 100000;
}

.app-bottom-panel-show {
    background-color: blue;
    height: auto;
}

.app-bottom-panel-hide {
    background-color: green;
    max-height: 5px;
    height: 5px;
}