<div class="container">

<div class="content" role="main">

<!-- 
	<span>
		<label>columnName</label>
		<input type="text"
			[(ngModel)]="columnName" (input)="reevalFilterChange()">
		
	</span>
	<br>
 -->

	<span>RowGroups</span>
	
    <ag-grid-angular
    	#rowGroupGrid
        class="ag-theme-alpine"
        style="width: 100%; height: 400px;"
		(gridReady)="onRowGroupGridReady($event)"
        [columnDefs]="rowGroupColumnDefs"
        [gridOptions]="rowGroupGridOptions"
		[frameworkComponents]="frameworkComponents"
        >
    </ag-grid-angular>

	<span>Column Chunks</span>
    <ag-grid-angular
    	#columnChunkGrid
        class="ag-theme-alpine"
        style="width: 100%; height: 400px;"
		(gridReady)="onColumnChunkGridReady($event)"
        [columnDefs]="columnChunkColumnDefs"
        [gridOptions]="columnChunkGridOptions"
		[frameworkComponents]="frameworkComponents"
        >
    </ag-grid-angular>

	
</div>

<div class="row">Messages: </div>

<div class="row" *ngFor="let msg of msgs">{{msg}}</div>

</div>
