<div class="container-fluid">

<div class="content" role="main">

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">

  <ngb-panel title="Input">
  	<ng-template ngbPanelContent>

  		<div class="container-fluid">
  			<div class="row">
				<label class="col-md-3">file</label>
				<input class="col-md-9" type="text"
					[(ngModel)]="inputFile">
  			</div>
  			<div class="row">
				<button type="button" class="col-md-2 btn btn-primary" (click)="onClickLoadInputFile()">Load file</button>
  			</div>

  			<div class="row">
				<label class="col-md-3">scan dir</label>
				<input class="col-md-9" type="text"
					[(ngModel)]="inputBaseDir">
  			</div>
  			<div class="row">
				<button type="button" class="col-md-2 btn btn-primary" (click)="onClickScanBaseDir()">Scan dir files</button>
  			</div>

  			<div class="row">
          <div class="col-md-3">
            <label>Load sample</label> &nbsp;
            <button type="button" class="btn btn-primary" (click)="onClickLoadSampleFile()">file</button>
            <button type="button" class="btn btn-primary" (click)="onClickLoadSampleFile2()">file2</button>
          </div>
        </div>
  			<div class="row">
				<button type="button" class="col-md-2 btn btn-primary" (click)="onClickScanSampleDir()">Scan sample dir</button>
  			</div>

  		</div>

	</ng-template>
  </ngb-panel>

  <ngb-panel title="Schema">
  	<ng-template ngbPanelContent>
<!--
	<span>
		<label>columnName</label>
		<input type="text"
			[(ngModel)]="columnName" (input)="reevalFilterChange()">

	</span>
	<br>
 -->
		<ag-grid-angular
		    	#schemaColGrid
		        class="ag-theme-alpine"
		        style="width: 100%; height: 400px;"
    				(gridReady)="onSchemaColGridReady($event)"
		        [columnDefs]="schemaColColumnDefs"
		        [gridOptions]="schemaColGridOptions"
		        >
		</ag-grid-angular>
	</ng-template>
  </ngb-panel>

  <ngb-panel title="Partition Dirs">
  	<ng-template ngbPanelContent>
	</ng-template>
  </ngb-panel>

  <ngb-panel title="Files">
  	<ng-template ngbPanelContent>
  		<ag-grid-angular
	    	#fileGrid
	        class="ag-theme-alpine"
	        style="width: 100%; height: 400px;"
    			(gridReady)="onFileGridReady($event)"
	        [columnDefs]="fileColumnDefs"
	        [gridOptions]="fileGridOptions"
	        >
	    </ag-grid-angular>
	</ng-template>
  </ngb-panel>

  <ngb-panel title="RowGroups">
  	<ng-template ngbPanelContent>
	    <ag-grid-angular
	    	#rowGroupGrid
	        class="ag-theme-alpine"
	        style="width: 100%; height: 400px;"
			(gridReady)="onRowGroupGridReady($event)"
	        [columnDefs]="rowGroupColumnDefs"
	        [gridOptions]="rowGroupGridOptions"
	        >
	    </ag-grid-angular>
	</ng-template>
  </ngb-panel>

  <ngb-panel title="Chunks">
  	<ng-template ngbPanelContent>

	    <ag-grid-angular
	    	#columnChunkGrid
	        class="ag-theme-alpine"
	        style="width: 100%; height: 400px;"
			    (gridReady)="onColumnChunkGridReady($event)"
	        [columnDefs]="columnChunkColumnDefs"
	        [gridOptions]="columnChunkGridOptions"
	        >
	    </ag-grid-angular>
	<!--
	        [rowData]="colChunks"
	 -->
	</ng-template>
  </ngb-panel>

</ngb-accordion>




</div>

<div class="row">Messages: </div>

<div class="row" *ngFor="let msg of msgs">{{msg}}</div>

</div>
